/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

body {
    background: #000000;
    background-image: url('../images/sample-gates.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.header {
    top: 0px;
    left: 0;
    margin-top: 5px;
}

.header a {
    color: #ffffff;
    padding-left: 10px;
    text-decoration: none;
}

.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
    height: 400px;
    width: 700px;
    line-height: 0.5em;
}
.row0 {
    display: flex;
    justify-content: center;
    color: #991b1e;
    font-size: 32px;
}

.hoosier {
    font-family: 'Pacifico', cursive;
    padding-top: 18px;
}

.logo {
    padding-top: 26px;
}

.row1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* display: inline-block; */
}

input {
    height: 45px;
    font-size: 22px;
}

.row1 .submit {
    background: #ffffff;
    background-image: url('../images/70490.png');
    background-position: center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    border: 8px solid #ffffff;
    height: 45px;
    width: 45px;
    overflow: hidden;
    vertical-align: top;
}

.submit {
    text-indent: -99em;
    cursor: pointer;
}
